@inherits ProtectedPageBase
@using AddressAppServer.Web.Components.Pages.Addresses.Common
@page "/addresses"
@attribute [Authorize]

<h3>Addresses</h3>

<div class="mb-2 mt-2">
    <MudButton OnClick="CreateAddress" Class="bg-primary text-white">Create Address</MudButton>
</div>

<AddressGridComponent AddressesViewModel="AddressesViewModel" />