@inherits ProtectedPageBase
@using AddressAppServer.Web.Components.Pages.Addresses.Common
@page "/addresses/{AddressId:guid}"
@attribute [Authorize]

<AuthorizeView>
    <Authorized>
        <AddressDetailComponent AddressesViewModel="_addressViewModel" />
    </Authorized>
    <NotAuthorized>
        <p>Redirecting...</p>
    </NotAuthorized>
</AuthorizeView>

