@inherits ProtectedPageBase

@page "/admin/permissions"
@attribute [Authorize]

<AuthorizeView>
    <Authorized>
        <h3>Permissions</h3>
    </Authorized>
    <NotAuthorized>
        <p>Redirecting...</p>
    </NotAuthorized>
</AuthorizeView>
