@inherits ProtectedPageBase
@page "/admin/users"
@attribute [Authorize]

<AuthorizeView>
    <Authorized>
        <h3>Users</h3>
    </Authorized>
    <NotAuthorized>
        <p>Redirecting...</p>
    </NotAuthorized>
</AuthorizeView>